@font-face{
  font-family: 'Stolzl Regular';
  src:url('../fonts/Stolzl_Regular.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Stolzl Book';
src:url('../fonts/Stolzl_Book.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
