body{
  overflow-x:hidden;
}
.btn{
  width: 150px;
  height: 30px;
  line-height: 30px;
  background-color: #FCB367;
  text-align: center;
  transition:.5s;
  &:hover{
    background-color: #fff;
  }
  a{
  font-size: 12px;
    font-family: 'Stolzl Book';
    color:#000;
  }
}