.footer_s{
  position: relative;
  height: auto;
  width: 100%;
  background-color: #1E1D1C;
  z-index: 20;
  padding: 120px 0;
  footer{
    article{
      h2{
        font-family: "Stolzl Regular";
        font-size: 26px;
        color:#fff;
        position: relative;
        &::before{
          content:'';
          position: absolute;
          left:50%;
          transform: translateX(-50%);
          bottom: -15px;
          width: 36px;
          height: 2px;
          background-color: #FCB367;
          @include res('mob') {
            width: 250px;
            bottom: -30px;
          }
        }
      }
      p{
        font-family: 'Stolzl Book';
        font-size: 13px;
        color: #B5B4B3;
        margin: 50px 0 40px 0;
        width: 50%;
        text-align: center;
        @include res('mob') {
          width: 90%;
        }
      }
    }
    form {
      input {
        width: 515px;
        height: 40px;
        @include res('mob') {
          width: 240px;
          height: 30px;
        }
      }
      .btn {
        width: 140px;
        height: 40px;
        line-height: 40px;
        @include res('mob') {
          width: 100px;
          height: 30px;
          line-height: 30px;
        }
      }
    }
    ul{
      margin-top: 145px;
      li{
        h4{
          font-family: "Stolzl Regular";
          font-size: 14px;
          color: #fff;
          margin-bottom: 25px;
          @include res('mob') {
            font-size: 12px;
          }
        }
        p{
          font-family: 'Stolzl Book';
          font-size: 13px;
          color: #B5B4B3;
          text-align: left;
          line-height: 20px;
          @include res('mob') {
            font-size: 10px;
          }
        }
        }
      }

    }
  .footer_bottom{
    background-color: #1B1A19;
    width: 100%;
    z-index: 200;
    padding: 20px;
    position: absolute;
    bottom: 0;
    .footer_bottom__wrap{
      margin: 0 auto;
      h5,li>a{
        font-family: "Stolzl Regular";
        font-size: 11px;
        color:#676767;
      }
      ul{
        margin-top: 10px;
        li{
          margin-right: 10px;
          &:last-child{
            margin: 0;
          }
        }
      }
    }
  }

}
