.intro_s{
  background-image: url("../img/intro/intro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  .intro_s__wrap{
    position: relative;
    height: 100%;
      article{
        h1,p{
          color:#fff;
        }
        h1{
          font-family: 'Stolzl Regular';
          margin-left: 30px;
          font-size: 33px;
          @include res('mob'){
            margin-left: 0;
            font-size: 28px;
          }
        }
        p{
          font-family: 'Stolzl Book';
          margin: 35px 0 50px 0;
          font-size: 12px;
          @include res('mob'){
            font-size: 10px;
          }
        }
      }
    .btn{
      @include res('mob'){
        margin-left: 30px;
        width: 160px;
        height: 40px;
        line-height: 40px;
      }
    }
  }
  .into_mob_nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    @include res('mob'){
      display: flex;
    }
    li{
      font-family: 'Stolzl Regular';
      margin-right:50px;
      font-size: 10px;
      a{
        color:#fff;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}